h1 {
    @apply text-3xl
}

h2 {
    @apply text-2xl
}

h3 {
    @apply text-xl
}

table {
    @apply w-full text-left
}

thead {
    @apply text-gray-700 uppercase bg-gray-50
}

tr {
    @apply odd:bg-white even:bg-gray-100
}

td a {
    @apply text-blue-700 hover:underline
}

.button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
}

button {
    @apply button
}

.danger {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold
}

.grid {
    @apply flex flex-wrap mb-4 justify-center
}

form {
    @apply max-w-sm mx-auto
}

input, textarea, select {
    @apply bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
}

hr {
    @apply my-3 h-0.5 border-t-0 bg-neutral-200
}
