<script setup>
const props = defineProps({
    depth: {
        type: Number, default: 0, required: true
    },
})

const height = `${props.depth}%`

</script>
<template>
    <div class="thermometer">
        <div class="stem">
            <div class="stem-perct" />
        </div>
    </div>
</template>

<style scoped>
.thermometer {
    height: 200px;
}

.stem {
    border: 2px solid #222;
    width: 20px;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(lightblue, blue, black);
}

.stem-perct {
    height: v-bind(height);
    width: 100%;
    border-bottom: 3px solid red;
}
</style>
