<script setup>
import { addDoc, collection } from "firebase/firestore";

const db = useFirestore()
const user = await getCurrentUser()

const dive = ref({
    user: user.uid,
})

async function logDive() {
    await addDoc(collection(db, "dives"), dive.value);
    dive.value = { user: user.uid }
    alert('Logged Dive')
}
</script>
<template>
    <div>
        <form @submit.prevent="logDive">
            <DiveLogbookUpload :dive="dive" />
            <hr>
            <DiveFormContent :dive="dive" />
            <button type="submit">Log Dive</button>
        </form>
    </div>
</template>
