<script setup>
import { doc, updateDoc } from "firebase/firestore";

const props = defineProps({
    id: {
        type: String, required: true
    },
    dive: {
        type: Object, required: true
    }
})

const { id, dive } = toRefs(props)

const db = useFirestore()

async function updateDive() {
    const docRef = doc(db, "dives", id.value);
    await updateDoc(docRef, dive.value);

    navigateTo('/dives')
}

</script>
<template>
    <div>
        <form @submit.prevent="updateDive">
            <DiveFormContent :dive="dive" />
            <button type="submit">Update Dive</button>
        </form>
    </div>
</template>
