<script setup>
const props = defineProps({
    dive: {
        type: Object, required: true
    }
})

const { dive } = toRefs(props)

const locations = ref(await getLocations())

function calculateDuration() {
    const start_hour = parseInt(dive.value.time_in.slice(0, -2));
    const start_minutes = parseInt(dive.value.time_in.slice(-2));

    const end_hour = parseInt(dive.value.time_out.slice(0, -2));
    const end_minutes = parseInt(dive.value.time_out.slice(-2));

    dive.value.duration = (end_hour - start_hour) * 60 + (end_minutes - start_minutes);
}

function calculateGasUsed() {
    dive.value.gas_used = dive.value.gas_in - dive.value.gas_out
}
</script>
<template>
    <div>
        <label for="diveNumber">Dive Number</label>
        <input id="diveNumber" v-model="dive.diveNumber" type="number">

        <label for="date">Date</label>
        <input id="date" v-model="dive.date" type="date">

        <label for="time_in">Time In</label>
        <input id="time_in" v-model="dive.time_in" type="time" @change="calculateDuration">

        <label for="time_out">Time Out</label>
        <input id="time_out" v-model="dive.time_out" type="time" @change="calculateDuration">

        <label for="duration">Duration</label>
        <input id="duration" v-model="dive.duration" type="number">

        <label for="gasIn">Gas In</label>
        <input id="gasIn" v-model="dive.gas_in" type="number" @change="calculateGasUsed">

        <label for="gasOut">Gas Out</label>
        <input id="gasOut" v-model="dive.gas_out" type="number" @change="calculateGasUsed">

        <label for="gasUsed">Gas Used</label>
        <input id="gasUsed" v-model="dive.gas_used" type="number">

        <label for="location">Location</label>
        <select id="location" v-model="dive.location">
            <option v-for="(location, id) in locations" :key="id" :value="id">{{ location.name }}</option>
        </select>

        <label for="depth">Depth</label>
        <input id="depth" v-model="dive.depth" type="number">

        <label for="temperature">Temperature °C</label>
        <input id="temperature" v-model="dive.temperature" type="number">

        <label for="visibility">Visibility in meters</label>
        <input id="visibility" v-model="dive.visibility" type="number">

        <label for="buddy">Buddy</label>
        <input id="buddy" v-model="dive.buddy" type="text">

        <label for="comment">Comment</label>
        <textarea id="comment" v-model="dive.comment" rows="5" />
    </div>
</template>
