<script setup>
const props = defineProps({
    dive: {
        type: Object, required: true
    }
})
</script>
<template>
    <div class="grid">
        <AppContainer>
            <p>Date: {{ props.dive.date }}</p>
            <p>Time In: {{ props.dive.time_in }}</p>
            <p>Time Out: {{ props.dive.time_out }}</p>
            <p>Duration: {{ props.dive.duration }}</p>
        </AppContainer>
        <AppContainer>
            <p>Gas In: {{ props.dive.gas_in }}</p>
            <p>Gas Out: {{ props.dive.gas_out }}</p>
            <p>Gas Used: {{ props.dive.gas_used }}</p>
        </AppContainer>
        <AppContainer>
            <p>Depth: {{ props.dive.depth }}</p>
            <DiveDepthGauge :depth="props.dive.depth" />
        </AppContainer>
        <AppContainer>
            <p>Temperature: {{ props.dive.temperature }}</p>
            <p>Visibility: {{ props.dive.visibility }}</p>
        </AppContainer>
        <AppContainer>
            <h2>Comment:</h2> 
            <p>{{ props.dive.comment }}</p>
        </AppContainer>
        <AppContainer>
            <p>Buddy: {{ props.dive.buddy }}</p>
        </AppContainer>
    </div>
</template>
