<script setup>
import { getGenerativeModel, getVertexAI, Schema } from "firebase/vertexai";

const props = defineProps({
    dive: {
        type: Object, required: true
    }
})
const { dive } = toRefs(props)

const prompt = `
Take the:
diveNumber
date
time_in
time_out
duration
gas_in
gas_out
gas_used
location
depth
temperature
visibility
buddy
comment

Return as JSON
`

const jsonSchema = Schema.object({
    properties: {
        diveNumber: Schema.number(),
        date: Schema.string(),
        time_in: Schema.string(),
        time_out: Schema.string(),
        duration: Schema.number(),
        gas_in: Schema.number(),
        gas_out: Schema.number(),
        gas_used: Schema.number(),
        location: Schema.string(),
        depth: Schema.number(),
        temperature: Schema.number(),
        visibility: Schema.number(),
        buddy: Schema.string(),
        comment: Schema.string(),
    }
});

const firebaseApp = useFirebaseApp();
const vertexAI = getVertexAI(firebaseApp);
const model = getGenerativeModel(vertexAI, {
    model: "gemini-2.0-flash",
    generationConfig: {
        responseMimeType: "application/json",
        responseSchema: jsonSchema
    },
});

async function fileToGenerativePart(file) {
    const base64EncodedDataPromise = new Promise((resolve) => {
        const reader = new FileReader();
        reader.onloadend = () => resolve(reader.result.split(',')[1]);
        reader.readAsDataURL(file);
    });
    return {
        inlineData: { data: await base64EncodedDataPromise, mimeType: file.type },
    };
}

async function run(event) {

    const imagePart = await fileToGenerativePart(event.target.files[0]);
    const result = await model.generateContent([prompt, imagePart]);

    const response = result.response;
    const text = JSON.parse(response.text());
    console.log(text)

    dive.value.diveNumber = text.diveNumber
    dive.value.date = text.date
    dive.value.time_in = text.time_in
    dive.value.time_out = text.time_out
    dive.value.duration = text.duration
    dive.value.gas_in = text.gas_in
    dive.value.gas_out = text.gas_out
    dive.value.gas_used = text.gas_used
    dive.value.location = text.location
    dive.value.depth = text.depth
    dive.value.temperature = text.temperature
    dive.value.visibility = text.visibility
    dive.value.buddy = text.buddy
    dive.value.comment = text.comment
}
</script>
<template>
    <label for="file">Autofill With Logbook Photo</label>
    <input id="file" type="file" accept="image/*" capture="environment" @change="run">
</template>
