<script setup>
import { average, collection, getAggregateFromServer, getCountFromServer, query, sum, where } from "firebase/firestore";

const db = useFirestore()
const user = await getCurrentUser()

const q = query(collection(db, "dives"), where("user", "==", user.uid));

const countSnapshot = await getCountFromServer(q);

const aggSnapshot = await getAggregateFromServer(q, {
    durationTotal: sum('duration'),
    durationAverage: average('duration'),
    depthTotal: sum('depth'),
    depthAverage: average('depth'),
});

const divesTotal = checkNull(countSnapshot.data().count)
const durationTotal = checkNull(aggSnapshot.data().durationTotal)
const durationAverage = checkNull(aggSnapshot.data().durationAverage).toFixed(0)
const depthTotal = checkNull(aggSnapshot.data().depthTotal)
const depthAverage = checkNull(aggSnapshot.data().depthAverage).toFixed(0)
</script>

<template>
    <div class="grid">
        <AppContainer>
            <h2>Total Dives</h2>
            <p>{{ divesTotal }}</p>
        </AppContainer>
        <AppContainer>
            <h2>Duration</h2>
            <h3>Total Time Underwater</h3>
            <p>{{ durationTotal }}</p>
            <h3>Average Dive Duration</h3>
            <p>{{ durationAverage }}</p>
        </AppContainer>
        <AppContainer>
            <h2>Depth</h2>
            <h3>Total Dive Depth</h3>
            <p>{{ depthTotal }}</p>
            <h3>Average Dive Depth</h3>
            <p>{{ depthAverage }}</p>
        </AppContainer>
    </div>
</template>
