<script setup>
const dives = await getDives()

async function deleteThis(id) {
    await deleteDive(id)
    reloadNuxtApp()
}
</script>

<template>
    <table>
        <thead>
            <tr>
                <th>Dive Number</th>
                <th>Date</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Duration</th>
                <th>Gas In</th>
                <th>Gas Out</th>
                <th>Gas Used</th>
                <th>Location</th>
                <th>Depth</th>
                <th>Temperature</th>
                <th>Visibility</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(dive, id) in dives" :key="id">
                <td>
                    <NuxtLink :to="`/dives/${id}`">{{ dive.diveNumber }}</NuxtLink>
                </td>
                <td>{{ dive.date }}</td>
                <td>{{ dive.time_in }}</td>
                <td>{{ dive.time_out }}</td>
                <td>{{ dive.duration }}</td>
                <td>{{ dive.gas_in }}</td>
                <td>{{ dive.gas_out }}</td>
                <td>{{ dive.gas_used }}</td>
                <td>
                    <LocationLink :id="dive.location" />
                </td>
                <td>{{ dive.depth }}</td>
                <td>{{ dive.temperature }}</td>
                <td>{{ dive.visibility }}</td>
                <td>
                    <button class="danger" @click="deleteThis(id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
