<template>
    <div>
        <h1>Welcome to DivingShizz</h1>
        <p>
            DivingShizz is a dive log app that allows you to keep track of your
            dives and explore find new places to explore.
        </p>
        <h2>Find your next dive!</h2>
        <p>
            Checkout our <NuxtLink to="/locations">Locations Page</NuxtLink> to find new places to explore.
        </p>
        <h2>Log your dives!</h2>
        <p>
            <NuxtLink to="/signup">Create a account</NuxtLink> or
            <NuxtLink to="/login">Login</NuxtLink> to start logging your dives.
        </p>
    </div>
</template>
