<template>
    <div>
        <slot />
    </div>
</template>

<style scoped>
div {
    @apply min-w-fit w-1/4 rounded overflow-hidden shadow-lg border-gray-400 bg-gray-50 p-4 m-5 text-center;
}
</style>
