<script setup>
import { signOut } from "firebase/auth";

const auth = useFirebaseAuth()
const user = await getCurrentUser()

async function logOut() {
    await signOut(auth)
    reloadNuxtApp()
}
</script>

<template>
    <nav>
        <div>
            <div>
                <ul>
                    <li>
                        <NuxtLink to="/">Diving Shizz</NuxtLink>
                    </li>
                    <li v-if="user">

                        <NuxtLink to="/dives">
                            <Icon name="material-symbols:scuba-diving" />
                            Dives
                        </NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/locations">
                            <Icon name="material-symbols:location-on" />
                            Locations
                        </NuxtLink>
                    </li>
                    <li v-if="user">
                        <NuxtLink to="/dives/new">
                            <Icon name="material-symbols:add-notes" />
                            Log Dive
                        </NuxtLink>
                    </li>
                    <div class="right">
                        <li v-if="user">
                            <NuxtLink @click="logOut">
                                <Icon name="material-symbols:logout" />
                                Logout
                            </NuxtLink>
                        </li>
                        <li v-else>
                            <NuxtLink v-if="!user" to="/login">
                                <Icon name="material-symbols:login" />
                                Login
                            </NuxtLink>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</template>

<style scoped>
ul {
    @apply list-none overflow-hidden bg-cyan-700 shadow-md;
}

li {
    @apply float-left;
}

li a {
    @apply block text-slate-50 content-center p-4;
}

li a:hover {
    @apply bg-cyan-800;
}

.right {
    @apply float-right;
}
</style>
