<script setup>
const props = defineProps({
    id: {
        type: String, required: true
    }
})

const { id } = toRefs(props)
const locations = await getLocations()
</script>

<template>
    <NuxtLink :to="`/locations/${id}`">{{ locations[id].name }}</NuxtLink>
</template>
