<script setup>
import { GoogleMap, Marker } from 'vue3-google-map'
const props = defineProps({
    lat: {
        type: Number, required: true
    },
    long: {
        type: Number, required: true
    },
})

const center = { lat: props.lat, lng: props.long }
</script>

<template>
  <GoogleMap
  api-key=AIzaSyBaqsSnwtp-PRXD7MB3_UyqIK55iWCs0qs
  style="width: 100%; height: 500px"
  :center="center"
  :zoom="15"
  >
    <Marker :options="{ position: center }" />
  </GoogleMap>
</template>