<script setup>
defineProps({
    locations: {
        type: Object,
        default() {
            return {}
        }
    }
})
</script>
<template>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(location, id) in locations" :key="id">
                <td>
                    <NuxtLink :to="`/locations/${id}`">{{ location.name }}</NuxtLink>
                </td>
            </tr>
        </tbody>
    </table>
</template>
