<script setup>
const props = defineProps({
    weather: {
        type: Object, required: true
    }
})

const { weather } = toRefs(props)

const tides = ref([])

weather.value.forEach(day => {
    tides.value = tides.value.concat(day.day.tides[0].tide)
})
</script>

<template>
    <div v-if="weather != null">
        <table>
            <thead>
                <tr>
                    <th v-for="t in tides" :key="t.tide_time">
                        {{ t.tide_time }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td v-for="t in tides" :key="t.tide_time">
                        {{ t.tide_type }}
                    </td>
                </tr>
                <tr>
                    <td v-for="t in tides" :key="t.tide_time">
                        {{ t.tide_height_mt }}m
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
