<script setup>
const props = defineProps({
    weather: {
        type: Object, required: true
    }
})

const { weather } = toRefs(props)

</script>

<template>
    <div v-if="weather != null">
        <table>
            <thead>
                <tr>
                    <th />
                    <th v-for="d in weather" :key="d.date">{{ d.date }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Temperature</th>
                    <td v-for="d in weather" :key="d.date">
                        max: {{ d.day.maxtemp_c }}C<br>
                        avg: {{ d.day.avgtemp_c }}C<br>
                        min: {{ d.day.mintemp_c }}C
                    </td>
                </tr>
                <tr>
                    <th>Wind</th>
                    <td v-for="d in weather" :key="d.date">
                        max: {{ d.day.maxwind_kph }}kph
                    </td>
                </tr>
                <tr>
                    <th>Rain</th>
                    <td v-for="d in weather" :key="d.date">
                        {{ d.day.totalprecip_mm }}mm
                    </td>
                </tr>
                <tr>
                    <th>Snow</th>
                    <td v-for="d in weather" :key="d.date">
                        {{ d.day.totalsnow_cm }}cm
                    </td>
                </tr>
                <tr>
                    <th>Condition</th>
                    <td v-for="d in weather" :key="d.date">
                        <img :src="d.day.condition.icon" :alt="d.day.condition.text">
                        {{ d.day.condition.text }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
