<script setup>
import { createUserWithEmailAndPassword } from 'firebase/auth';

const auth = useFirebaseAuth()
const user = await getCurrentUser()
const email = ref('')
const password = ref('')

async function signup() {
    await createUserWithEmailAndPassword(auth, email.value, password.value)
        .then(() => {
            reloadNuxtApp()
        })
        .catch((error) => {
            alert(error.message)
        });
}
</script>
<template>
    <div>
        <h1>Signup</h1>
        <div v-if="user">
            <p>You are currently logged in as {{ user.email }}</p>
        </div>
        <div v-else>
            <form @submit.prevent="signup">
                <input v-model="email" type="email" placeholder="Email">
                <input v-model="password" type="password" placeholder="Password">
                <button type="submit">Signup</button>
            </form>
            <p>or</p>
            <NuxtLink to="/login">Login</NuxtLink>
        </div>
    </div>
</template>
