<script setup>
import { doc, getDoc } from "firebase/firestore";

const route = useRoute()
const db = useFirestore()

const docRef = doc(db, "locations", route.params.id);
const docSnap = await getDoc(docRef);
const location = docSnap.data();

const { data: stats } = await useFetch('/api/location/stats', {
    query: { location: route.params.id }
})

const { data: weather } = await useFetch('/api/location/weather', {
    query: { lat: location.geopoint.latitude, long: location.geopoint.longitude }
})
</script>

<template>
    <div>
        <AppContainer>
            <h1>{{ location.name }}</h1>
            <h3>Address</h3>
            <p>{{ location.address }}</p>
        </AppContainer>
        <AppContainer>
            <LocationMap :lat="location.geopoint.latitude" :long="location.geopoint.longitude" />
        </AppContainer>
        <AppContainer>
            <h3>Weather</h3>
            <LocationWeather :weather="weather" />
        </AppContainer>
        <AppContainer>
            <h3>Tides</h3>
            <LocationTides :weather="weather" />
        </AppContainer>
        <AppContainer>
            <h2>Stats</h2>
            <h3>Total Dives</h3>
            <p>{{ stats.count }}</p>
            <h3>Average Depth</h3>
            <p>{{ stats.averageDepth.toFixed(0) }}</p>
            <h3>Average Duration</h3>
            <p>{{ stats.averageDuration.toFixed(0) }}</p>
            <h3>Average Temperature</h3>
            <p>{{ stats.averageTemperature.toFixed(0) }}</p>
        </AppContainer>
    </div>
</template>

<style scoped>
h1 {
    @apply text-3xl
}

h2 {
    @apply text-2xl
}

h3 {
    @apply text-xl
}
</style>
