<script setup>
import { doc, getDoc } from "firebase/firestore";

definePageMeta({
    middleware: ['auth'],
})

const edit = ref(false)

const route = useRoute()
const db = useFirestore()

const docRef = doc(db, "dives", route.params.id);
const docSnap = await getDoc(docRef);
const dive = docSnap.data();

async function deleteThis() {
    await deleteDive(route.params.id)
    await navigateTo('/dives')
}
</script>

<template>
    <div>
        <div class="flex justify-between">
            <div>
                <h1>Dive number: {{ dive.diveNumber }}</h1>
                <LocationLink :id="dive.location" />
            </div>
            <div>
                <button @click="edit = !edit">Edit</button>
                <button class="danger" @click="deleteThis">Delete Dive</button>
            </div>
        </div>
        <DiveInfo v-if="!edit" :dive="dive" />
        <DiveFormEdit v-else :id="route.params.id" :dive="dive" />
    </div>
</template>
